@import-normalize; /* bring in normalize.css styles */
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

body {
  margin: 0;
  font-family: 'Muli' -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
      background-attachment: fixed;
    background-color: #696969;
    background-image: url(./components/images/BackgroundImage.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

code {
  font-family: 'Muli', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

